{% load staticfiles %}
<!doctype html>
<html>
    <head>
        <title>
            {% block title %}
                Birb.io
            {% endblock title %}
        </title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        {% block header %}{% endblock header%}
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a href="{% url 'home' %}" class="navbar-brand navbar-text">Birb.io</a>
            </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="main-nav-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'home' %}" class="navbar-text" id="search">search</a></li>
                <li><a href="{% url 'compare' %}" class="navbar-text" id="compare">compare</a></li>
                <li><a href="{% url 'trending' %}" class="navbar-text" id="trending">trending</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div>
        </nav>
        <div class="container-fluid">
          {% block content %}{% endblock content %}
        </div>
        <footer>
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    click for more info
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>Search allows you to search for any phrase, hashtag, or user</p>
                  <p>Compare allows you to simultaneously search for any of the above
                  in order to compare them</p>
                  <p>Trending anaylzes all of the current top trends, but takes
                  a while to load</p>
                  <p>Emotional analysis is done using Vader Sentiment Analyzer</p>
                  <p>v0.1</p>
                </div>
              </div>
            </div>
          </div>
        </footer>

        <script src="{% static 'js/script.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </body>
</html>