{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    {{ block.super }} - Search
{% endblock title %}
{% block content %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form method="GET" action="/">
                <div class="search-row" id="search-row">
                    <input id="query" type="text" autofocus="autofocus" name="query" autocomplete="off">
                    <button id="submit-btn" type="submit" disabled="true">
                        <div class="submit-btn-cover"></div>
                        <img id="search-icon" class="svg" src="{% static 'images/search.svg' %}">
                    </button>
                </div>
            </form>
        </div>
    </div>

    <br>
    <div class="row results-group">
        <div class="col-md-6 col-md-offset-3">
            {% if query %}
                <div class="result-container">
                    <p>
                        <span class="result-name">{{ query }}</span>
                        <span class="right-side statement">{{ statement }}</span>    
                    </p>
                    <p class="remove-margin">
                        &nbsp;
                        <span class="right-side analysis">{{ analysis }}</span>
                    </p>
                </div>
            {% elif error %}
                <div class="result-container">
                    <h3>{{ error }}</h3>
                </div>
            {% else %}
                <div class="title-wrapper">
                    <p class="tagline">Find out what Twitter thinks about any phrase, hashtag, or user.</p>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3">
            {% if pos_tweet %}
                <div class="col-md-4">
                    {{ pos_tweet.html | safe }}
                </div>
            {% endif %}
            {% if neg_tweet %}
                <div class="col-md-4">
                    {{ neg_tweet.html | safe }}
                </div>
            {% endif %}
        </div>
    </div>
        
{% endblock content %}
