{% extends 'base.html' %}
{% block title %}
    {{ block.super }} - Info
{% endblock title %}
{% block content %}
    
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div id="info-well">
                <p>Birb.io performs a search on Twitter and analyzes the emotions
                   of the results</p>
                <p>Due to the limitations of Twitter's search function, this is not 
                   meant to be a comprehensive anaylsis of Twitter's emotions about 
                   a topic, this is merely an analysis of the tweets that result 
                   from a quick search of a given phrase</p>
                <p>This means that results from a search can vary a lot over time,
                   even from minute to minute in the case of some phrases</p>
                <p>Uses <a href="https://github.com/cjhutto/vaderSentiment">VADER Sentiment Analyzer</a> 
                   for text analysis</p>
                <p>Uses icons from <a href="https://feathericons.com/">Feather</a></p>
                <p>Charts made with <a href="http://www.chartjs.org/">Chart.js</a></p>
                <p>Made by Bailey Guthrie</p>
                <p>v0.1.0</p>
            </div>
        </div>
    </div>
    
    
{% endblock content %}