{% extends 'base.html' %}
{% block title %}
    {{ block.super }} - Info
{% endblock title %}
{% block content %}
    
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div id="info-well">
                <p>Birb.io performs a search on Twitter for a given term and analyzes 
                   the emotions of the results</p>
                <p>Due to the limitations of Twitter's search function, this is not 
                   meant to be a comprehensive anaylsis of Twitter's emotions about 
                   a topic, this is merely an analysis of the tweets that result 
                   from a quick search of a given phrase</p>
                <p>This means that results from a search can vary a lot over time,
                   even from minute to minute in the case of some phrases</p>
                <p>Searching for hashtags tends to give the most reliable results</p>
                <p>Text analysis with <a href="https://github.com/cjhutto/vaderSentiment" target="_blank">VADER Sentiment Analyzer</a></p>
                <p>Uses icons from <a href="https://feathericons.com/" target="_blank">Feather</a></p>
                <p>Charts made with <a href="http://www.chartjs.org/" target="_blank">Chart.js</a></p>
                <p>Loading animation from <a href="https://projects.lukehaas.me/css-loaders/" target="_blank">here</a></p>
                <br>
                <p>Made by Bailey Guthrie</p>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="night-well">
                <label class="switch">
                    <input id="night-check" type="checkbox">
                    <span class="slider round"></span>
                </label>
                
                Night Mode
            </div>
        </div>
    </div>
    
    
{% endblock content %}