{% extends 'base.html' %}
{% load humanize %}
{% block title %}
    {{ block.super }} - Trending
{% endblock title %}
{% block content %}
    
    {% if trends %}
        {% for trend in trends %}
            <a href="{{ trend.url }}">{{ trend.name }}</a>
            <h4>
                {% if 'tweet_volume' in trend %}
                    {{ trend.tweet_volume | intcomma }}
                {% else %}
                    < 10,000
                {% endif %}
                 tweets in last 24 hours
            </h4>
            {% if 'error' in trend %}
                <p>{{ trend.error }}</p>
            {% else %}
                <p>{{ trend.statement }}</p>
                <p>{{ trend.analysis }}</p>
            {% endif %}
            <hr>
        {% empty %}
            <p>Sorry, no data was able to be found.</p>
        {% endfor %}
    {% endif %}

{% endblock content %}