body {
    font-family: 'Roboto', sans-serif !important;
    min-height: 100%;
}

/*.page-wrapper {*/
/*    height: 100vh;*/
/*    width: 100%;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    align-content: center;*/
/*    justify-content: center;*/
/*}*/

.title-wrapper {
    display: flex;
    justify-content: center;
}

.title-wrapper .tagline {
    color: #2196f3;
}

#title {
    font-size: 148px;
    color: #2196f3;
}

#title:hover {
    text-decoration: none;
    color: #2196f3;
}

#title:focus {
    text-decoration: none;
    color: #0069c0;
}

.search-row {
    position: relative;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    border-radius: 4px;
}

#query {
    width: 100%;
    padding-right: 40px;
    padding-left: 14px;
    height: 48px;
    font-size: 16px;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
}

#query:focus {
    outline: none;
}

#submit-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 48px;
    padding-top: 4px;
    padding-bottom: 0px;
    background: #66bb6a;
    border: 1px solid transparent;
    border-radius: 0 4px 4px 0;
}

#submit-btn:disabled {
    background: none;
}

#submit-btn:focus {
    outline: none;
    background: #338a3e !important;
}

#submit-btn svg circle,
#submit-btn svg line {
    stroke: rgb(160, 160, 160);
}

.submit-btn-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.navigator {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navigator .navigator-link {
    font-size: 18px;
    color: #2196f3 !important;
    border-bottom: 1px solid transparent;
    transition: color .15s ease-out;
}

.navigator-link:hover {
    text-decoration: none;
    color: #6ec6ff !important;
}

.navigator-link:focus {
    text-decoration: none;
    color: #0069c0 !important;
}

.results-well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #c1d5e0;
    border: 1px solid #90a4ae;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.positive-well {
    background-color: #b2fab4;
    border-color: #81c784;
    color: #003300;
}

.negative-well {
    background-color: #ffa4a2;
    border-color: #e57373;
    color: #7f0000;
}

.active-page {
    border-bottom: 1px solid #2196f3 !important;
}

.results-well > p > a {
    color: #2196f3;
    color: #388e3c;
}

.results-well > p > a:hover {
    text-decoration: none;
    color: #6ec6ff;
    color: #6abf69;
}

.results-well > p > a:focus {
    text-decoration: none;
    color: #0069c0;
    color: #00600f;
}

@media screen and (max-width: 768px) {
    #title {
        font-size: 8em;
    }
}

/*compare styles*/
.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 48px;
    padding-top: 4px;
    padding-bottom: 0px;
    background: none;
    border: 1px solid transparent;
    border-radius: 0 4px 4px 0;
}

.close-btn svg line {
    stroke: #e53935;
    transition: stroke .15s ease-out;
}

.close-btn:focus {
    outline: none;
}

.compare-query #query:focus {
    border-color: #2196f3;
    box-shadow: 0 0 3px 2px rgba(31, 147, 240, 0.5);
}

#add-btn {
    height: 36px;
    width: 36px;
    padding: 0;
    border: 2px solid transparent;
    border-radius: 18px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    background: #66bb6a;
}

#add-btn svg line {
    transition: stroke .15s ease-out;
}

#add-icon {
    stroke: white;
    height: 32px;
    width: 32px;
}

#add-btn:hover {
    background: #80e27e;
}

#add-btn:focus {
    outline: none;
}

#compare-btn {
    background: #2196f3;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    color: white;
    padding: 12px 16px;
    font-size: 18px;
    letter-spacing: 0.7px;
    transition: background-color .15s ease-out;
}

#compare-btn:hover {
    background: #6ec6ff;
}

#compare-btn:focus {
    background: #0069c0;
}

#compare-btn:disabled {
    background: rgb(160, 160, 160);
}
