body {
    font-family: 'Roboto', sans-serif !important;
    min-height: 100%;
    padding-bottom: 24px;
}

.title-wrapper {
    display: flex;
    justify-content: center;
}

.title-wrapper .tagline {
    color: #2196f3;
    font-size: 16px;
}

#title {
    font-size: 148px;
    color: #2196f3;
}

#title:hover {
    text-decoration: none;
    color: #2196f3;
}

#title:focus {
    text-decoration: none;
    color: #0069c0;
}

.search-row {
    position: relative;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    border-radius: 4px;
}

.night-bar {
    background: #424242;
    color: white;
}

.query {
    width: 100%;
    padding-right: 40px;
    padding-left: 14px;
    height: 48px;
    font-size: 16px;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
}

.query:focus {
    outline: none;
}

#submit-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 48px;
    padding-top: 4px;
    padding-bottom: 0px;
    background: #66bb6a;
    border: 1px solid transparent;
    border-radius: 0 4px 4px 0;
}

#submit-btn:disabled {
    background: none;
}

#submit-btn:focus {
    outline: none;
    background: #338a3e !important;
}

#submit-btn svg circle,
#submit-btn svg line {
    stroke: rgb(160, 160, 160);
}

.submit-btn-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.navigator {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navigator .navigator-link {
    font-size: 18px;
    color: #2196f3 !important;
    border-bottom: 1px solid transparent;
    transition: color .15s ease-out;
}

.navigator-link:hover {
    text-decoration: none;
    color: #6ec6ff !important;
}

.navigator-link:focus {
    text-decoration: none;
    color: #0069c0 !important;
}

.active-page {
    border-bottom: 1px solid #2196f3 !important;
}

.user-name a {
    font-size: 36px;
    color: #2196f3 !important;
    transition: color .15s ease-out;
}

.user-name a:hover {
    text-decoration: none;
    color: #6ec6ff !important;
}

.user-name a:focus {
    text-decoration: none;
    color: #0069c0 !important;
}

.user-column-title {
    font-size: 20px;
}

#query-term {
    font-size: 36px;
    font-weight: bold;
}

#profile-pic {
    height: 175px;
    width: 175px;
    border-radius: 100px;
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    #title {
        font-size: 8em;
    }
    
    #profile-pic {
        height: 100px;
        width: 100px;
    }
}

@media screen and (min-width: 992px) {
    .mobile {
        display: none;
    }
    .desktop {
        display: block;
    }
}


@media screen and (max-width: 992px) {
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }
}

.flex-center-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gradient-divider {
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.error-well {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    padding: 12px 16px;
}

/*compare styles*/
.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 48px;
    padding-top: 4px;
    padding-bottom: 0px;
    background: none;
    border: 1px solid transparent;
    border-radius: 0 4px 4px 0;
}

.close-btn svg line {
    stroke: #e53935;
    transition: stroke .15s ease-out;
}

.close-btn:focus {
    outline: none;
}

.extra-padding {
    padding-right: 64px !important;
}

.user-btn {
    display: none; 
    position: absolute;
    top: 0;
    right: 0;
    height: 48px;
    padding-bottom: 0px;
    padding-top: 4px;
    background: none;
    border: 1px solid transparent;
}

.user-btn-extra {
    right: 28px;
}

.user-btn-disabled svg {
    stroke: rgb(160, 160, 160);
    transition: stroke .15s ease-out;
}

.user-btn-enabled svg {
    stroke: #2196f3;
    transition: stroke .15s ease-out;
}

.user-btn-disabled:hover svg {
    stroke: rgb(200, 200, 200);
}

.user-btn-enabled:hover svg {
    stroke: #6ec6ff;
}

.user-btn:focus {
    outline: none;
}

.compare-query .query:focus {-co
    border-color: #2196f3;
    box-shadow: 0 0 3px 2px rgba(31, 147, 240, 0.5);
}

#add-btn {
    height: 36px;
    width: 36px;
    padding: 0;
    border: 2px solid transparent;
    border-radius: 18px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    background: #66bb6a;
}

#add-btn svg line {
    transition: stroke .15s ease-out;
}

#add-icon {
    stroke: white;
    height: 32px;
    width: 32px;
}

#add-btn:hover {
    background: #80e27e;
}

#add-btn:focus {
    outline: none;
}

#compare-btn {
    background: #2196f3;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    color: white;
    padding: 12px 16px;
    font-size: 18px;
    letter-spacing: 0.7px;
    transition: background-color .15s ease-out;
}

#compare-btn:hover {
    background: #6ec6ff;
}

#compare-btn:focus {
    background: #0069c0;
}

#compare-btn:disabled {
    background: rgb(160, 160, 160);
}

#warning {
    display: flex;
    display: none;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    margin-top: 10px;
    cursor: pointer;
    background: #ffff8b;
    padding: 5px 10px;
    border: 1px solid #ffee58;
    border-radius: 4px;
    color: #ac1900;
}

#warning p {
    text-align: center;
    margin: 0;
}

#warning svg {
    width: 40px;
}

#warning:hover {
    background: #ffffa8;
    border-color: #fff176;
}

.compare-show-btn {
    display: none;
    justify-content: space-between;
    align-items: center;
    background: #2196f3;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    color: white;
    padding: 12px 16px;
    font-size: 18px;
    letter-spacing: 0.7px;
    transition: background-color .15s ease-out;
}

.compare-show-btn:hover {
    background: #6ec6ff;
}

.compare-show-btn:focus {
    background: #0069c0;
}

#chart-info {
    background: #42a5f5;
    height: 36px;
    width: 36px;
    border: 2px solid transparent;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    transition: padding .15s ease-out;
}

#chart-info:hover {
    background: #6ec6ff;
}

#chart-info svg {
    height: 32px;
    width: 32px;
    stroke: white;
}

#chart-info-text {
    display: none;
    opacity: 0;
    color: white;
}

/* info styles */
.night-well {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    transform: translateX(30%);
    font-size: 18px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    padding: 12px 16px;
}

#signature {
    font-size: 24px;
}

#info-well {
    font-size: 18px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    padding: 12px 16px;
}

#info-well a {
    color: #2196f3;
    transition: color .15s ease-out;
}

#info-well a:hover {
    text-decoration: none;
    color: #6ec6ff;
}

#info-well a:focus {
    text-decoration: none;
    color: #0069c0;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
    display:none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 4px;
}

.slider.round:before {
  border-radius: 4px;
}


/* trending styles */

.results-group a {
    color: #2196f3;
}

.unanalyzed {
    display: none;
}

.result-flex-display {
    display: flex;
    justify-content: space-between;
    font-size: 19px;
}

.result-flex-display-around {
    display: flex;
    justify-content: space-around;
    font-size: 19px;
}

.result-container {
    margin-bottom: 20px;
    padding: 12px 16px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.result-container .remove-margin {
    margin: 0;
}

.right-side {
    float: right;
}

.result-name {
    font-size: 18px;
    font-weight: bold;
}

.result-container a {
    color: #1976d2;
    transition: color .15s ease-out;
}

.result-container a:hover {
    text-decoration: none;
    color: #63a4ff;
}

.result-container a:focus {
    text-decoration: none;
    color: #004ba0;
}

#trend-btn {
    display: none;
    background: #2196f3;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    color: white;
    padding: 12px 16px;
    font-size: 18px;
    letter-spacing: 0.7px;
    transition: background-color .15s ease-out;
}

#trend-btn:hover {
    background: #6ec6ff;
}

#trend-btn:focus {
    background: #0069c0;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #2196f3;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.night-mode {
    background: #212121;
}

